#title{
    padding-top:40px;
    padding-bottom: 0;
    border-bottom: 0;

}
.monkey{
    background-color: red;
    text-align: center;
}
.monkey img{
    margin:auto;
}
.monkey p {
    padding-bottom:30px;
}
.monkeyd {
    padding-top:5px;
}
#image {
    height:auto;
    max-width:100%;
    }
img{
    display:block;
    }
li{text-align:;
    }
img-caption {
      font-size:1
    }
.wiki {
    margin-top:40px;
    text-align : center;
}

h3 {
    text-align: center;
    background-color:
    margin-top:0;
}
